@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@100&display=swap");
/* @media screen and (max-width: 850px){
  .container {
    width: 98.25vw !important;
  }
} */
@media screen and (min-width: 921px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #504100;
    color: #fff;
    height: 40vh;
  }
  .column {
    width: 25%;
    margin-right: 120px;
    margin-left: 20px;
  }
  ul {
    list-style: none;
  }
  li {
    width: 100px;
    margin-bottom: 10px;
  }
  .column a {
    text-decoration: none;
    color: white;
    font-size: 14px;
  }
  h4 {
    font-size: 20px;
    margin-bottom: 7px;
  }
  .con {
    margin-left: 65px;
    margin-bottom: 8px;
  }
  .icons {
    display: flex;
    justify-content: space-evenly;
  }
  .icons img {
    width: 18px;
    height: 18px;
  }
  .cpr {
    font-size: 10px;
    margin-left: 10px;
    width: 200px;
  }
  a:hover {
    color: #fbbc05;
  }
  .footer-desc {
    width: 350px;
  }
  #about {
    margin-top: 20px;
  }
}
@media screen and (max-width: 920px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #504100;
    color: #fff;
    width: 100vw !important;
    height: 40vh;
    margin-top: -70px;
    overflow: hidden;
  }
  .column {
    width: 30%;
    margin-right: 120px;
    margin-left: 20px;
  }
  #about img {
    width: 25px;
    height: 25px;
  }
  #about p {
    font-size: 10px;
    width: 150px;
  }
  ul {
    list-style: none;
  }
  li {
    width: 100px;
    margin-bottom: 10px;
  }
  .column a {
    text-decoration: none;
    color: white;
    font-size: 10px;
  }
  h4 {
    font-size: 12px;
    margin-bottom: 7px;
  }
  .con {
    position: relative;
    top: -5px;
    left: 75px;
    /* margin-left: 65px; */
    margin-top: 200px;
    margin-bottom: 8px;
    /* color:black; */
  }
  .icons {
    display: flex;
    justify-content: space-evenly;
  }
  .icons img {
    width: 10px;
    height: 10px;
  }
  .cpr {
    font-size: 5px;
    margin-left: 10px;
    width: 200px;
  }
  a:hover {
    color: #fbbc05;
  }
  #about {
    margin-top: 50px;
    margin-left: 70px;
  }
  #legal {
    position: relative;
    margin-top: 180px;
    margin-left: -200px;
    left: -250px;
    top: -30px;
  }
  #legal ul {
    display: flex;
    flex-direction: row;
    width: 200px;
  }
  #legal ul li {
    position: relative;
    top: 40px;
    left: -90px;
  }
  #connect {
    position: relative;
    margin-top: 30px;
    margin-left: -400px;
    top: 20px;
    left: -230px;
    padding: 0px;
    margin-bottom: -10px;
    height: 10vh;
  }
  .con {
    left: 50px;
  }
  #browse {
    margin-top: 30px;
    margin-left: 155px;
  }
  li {
    margin-bottom: 2px;
  }
  .cpr {
    position: absolute;
    left: -10px;
    top: 250px;
    font-size: 8px;
  }
}
@media screen and (max-width: 499px) and (min-width: 427px){
  .container {
    width: 101vw !important;
   
  }
  #about{
    position: relative;
    left: -30px;
  }
  #browse {
    /* margin-left: -45px; */
    position: absolute;
    left: 120px;
    width: 25%;
    /* margin:0; */
  }
  #browse ul li {
    width: 4rem;
  }
  .cpr {
    position: absolute;
    left: -25px;
    top: 250px;
    font-size: 8px;
  }
  #legal {
    position: relative;
    margin-top: 180px;
    margin-left: 100px;
    left: -250px;
    top: -30px;
  }
  #connect {
    position: relative;
    margin-top: 30px;
  
    top: 20px;
    left: -120px;
    padding: 0px;
    margin-bottom: -10px;
    height: 10vh;
  }
  .con {
    left: 50px;
  }
  .column .icons{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    position: relative;
    left: -20px;
  }
  .column .icons img {
    width: 20px;
    height: 20px;
  
  }
  .cpr{
    position: absolute;
    left: -30px;
    top: 250px;
    font-size: 10px;
  }
}
@media screen and (max-width: 426px) and (min-width: 380px){
  .container {
    width: 100vw !important;
  }
  #browse {
    /* margin-left: -45px; */
    position: absolute;
    left: 120px;
    width: 25%;
    /* margin:0; */
  }
  #browse ul li {
    width: 4rem;
  }
  .cpr {
    position: absolute;
    left: -25px;
    top: 250px;
    font-size: 8px;
  }
  #legal {
    position: relative;
    margin-top: 180px;
    margin-left: -200px;
    left: 5px;
    top: -30px;
  }
  #connect {
    position: relative;
    margin-top: 30px;
    margin-left: -400px;
    top: 20px;
    left: 70px;
    padding: 0px;
    margin-bottom: -10px;
    height: 10vh;
  }
  .con {
    left: 35px;
  }
  #about {
    margin-top: 50px;
    margin-left: -60px;
  }
}
@media (max-width: 1024px) {
  .container {
    width: 138.5vw;
  }
}
@media (max-width: 391px) and (min-width: 385px) {
#connect{
  position: relative;
  left:80px;
}
}
@media (max-width: 379px) {
  .container {
    width: 100vw !important;
    padding-bottom:100px;
  }
  #browse {
    /* margin-left: -45px; */
    position: absolute;
    left: 100px;
    width: 25%;
    /* margin:0; */
  }
  #browse ul li {
    width: 4rem;
  }
  .cpr {
    position: absolute;
    left: -25px;
    top: 250px;
    font-size: 8px;
  }
  #legal {
    position: relative;
    margin-top: 180px;
    margin-left: -200px;
    left: 5px;
    top: -30px;
  }
  #connect {
    position: relative;
    margin-top: 30px;
    margin-left: -400px;
    top: 20px;
    left: 80px;
    padding: 0px;
    margin-bottom: -10px;
    height: 10vh;
  }
  .con {
    left: 35px;
  }
  #about {
    margin-top: 50px;
    margin-left: -60px;
  }
}

@media (max-width: 322px){
  .container {
    width: 106.5vw !important;
  
  }
  #browse {
    /* margin-left: -45px; */
    position: absolute;
    left: 60px;
    width: 25%;
    /* margin:0; */
  }
  #connect {
    position: relative;
    margin-top: 30px;
    margin-left: -400px;
    top: 20px;
    left: 95px;
    padding: 0px;
    margin-bottom: -10px;
    height: 10vh;
  }
  .icons{
    position: relative;
    left: 5px;
  }
.cpr{
  position: relative;
  top:-5px
}
}
